@import '../../sass/variables';

.grid {
  .grid-row {
      .grid-cell {
        border: $border-thickness solid $border-color;
        display: inline-block;
        height: $cell-size;
        width: $cell-size;
        text-align: center;

        &.static {
          font-weight: bold;
        }

        &.bottom {
          border-bottom: $border-thickness-bold solid $border-color;
        }
        &.left {
          border-left: $border-thickness-bold solid $border-color;
        }
        &.right {
          border-right: $border-thickness-bold solid $border-color;
        }
        &.top {
          border-top: $border-thickness-bold solid $border-color;
        }
      }
  }
}
